/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg , #fff9da , rgb(225, 255, 221));
    background-attachment: fixed;
}

/* nav */
.brand-text{
    display: inline-block;
    color: #ddedff;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
    text-shadow: -1px 0px 5px rgb(159, 126, 211);
    letter-spacing: .07rem;
    cursor: pointer;
    transition: all .5s;
}
.brand-text:hover{
    color: #cbfdb1;
    text-shadow: -1px 0px 3px rgb(128, 242, 250);
}


/* search */
#search-input{
    padding: 5px 15px;
    border: 2px solid #64ada1;
    margin: 0 10px;
    font-weight: 500;
    border-radius: 5px;
    background-color:white;
}
#search-input:focus{
    outline: 2px solid #94fcb3;
    color: black;
    background-color: transparent;
}
#search-btn{
    border-radius: 5px;
    position: relative;
    font-weight: 500;
    letter-spacing: .1em;
    padding: 5px 25px;
    border: 2px solid #64ada1;
    background-color: #D3EBE7;
    z-index: 1;
    overflow: hidden;
}
#search-btn:before{
    content: '';
    position: absolute;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    top: -100%; 
    left: 100%;
    z-index: -1;
    background-color: #f3c8b5;
    transition: all .5s;
}
#search-btn:hover{
    border: 2px solid #4f8a80;
}
#search-btn:hover:before{
    border-radius: 0;
    top:0%;
    left:0%;
}

/* spinner */
#spinner{
    display: none;
    height: 50px;
    width: 50px;
}
/* no result */
#no-result{
    display: none;
}
/* search results */
#search-results{
    display: none;
}
.card{
    border-radius: 15px;
    border: none;
}
.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-title{
    color: rgb(1, 97, 97);
    letter-spacing: .02rem;
}


